<mat-toolbar color="primary" class="toolbar">
  <div>
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_books</mat-icon>
    </a>
    <span>Portal de exámenes</span>
  </div>
  <div>
    <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-button class="example-button" aria-label="Iniciar sesión">
      Iniciar sesión
    </a>
    <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-button class="example-button" aria-label="Registrar">
      Registrar
    </a>
    <a *ngIf="isLoggedIn" (click)="logout()" mat-button class="example-button" aria-label="Cerrar sesión">
      Cerrar sesión
    </a>
    <button *ngIf="isLoggedIn && user" mat-button class="example-button" [routerLink]="'/admin/profile'">
      Perfil
    </button>
  </div>
</mat-toolbar>
